In [11]:
s1=20
s2=30
s3=40
s=(s1+s2+s3)/2
area=(s*(s-s1)*(s-s2)*(s-s3))**(1/2)
print (area)

290.4737509655563

In [2]:
p=1000
r=10
t=10
print((p*r*t)/100)

1000.0

In [3]:
s=10
print(s**2)

100

In [12]:
sp=1000
cp=900
if (sp>cp):
    profit=sp-cp
    print (profit)
else:
    loss=cp-sp
    print (loss){

100

In [14]:
income=600000
if (income<500000):
    print("Yayy!! No Tax")
else:
    it=(income*18)/100
    print (it)
    income_after_itr=income-it
    print (income_after_itr)

Yayy!! No Tax

In [15]:
shopping_cart=6000
if shopping_cart>5000:
    amt_payable=shopping_cart-((shopping_cart*10)/100)
    print(amt_payable)
    
else:
    print("no discount")

5400.0

In [16]:
num=10
if(num >0):
    print("number is positive")
    
else:
    print("number is negative")

number is positive

In [19]:
a=17
b=16
if a>b:
    print(a,"is greater")
elif a==b:
    print("both are equal")
else:
    print(b,"is greater")

17 is greater

In [21]:
n1=10
n2=20
n3=30
if(n1>n2 and n1>n3):
    print (n1,"is greatest")
elif(n2>n1 and n2>n3):
    print (n2, "is greatest")
else:
    print (n3,"is greatest")

30 is greatest

In [20]:
n1=10
n2=20
n3=30
if(n1<n2 and n1<n3):
    print (n1)
elif(n2<n1 and n2<n3):
    print (n2)
else:
    print (n3)

10

In [8]:
is_college_student="yes"
paid_fee="no"
is_wearing_mask="yes"
if((is_college_student=="yes" or paid_fee=="yes") and is_wearing_mask=="yes"):
    print("can attend party")
else:
    print("not allowed to attend party")g

can attend party

In [9]:
name="upasana"

In [10]:
type(name)

str

In [11]:
name

'upasana'

In [12]:
str1='I'm learning

SyntaxError: invalid syntax (<ipython-input-12-db6ec52505eb>, line 1)

In [13]:
str1="I'm learning"

In [14]:
str1

"I'm learning"

In [15]:
str1='I\'m learning'

In [16]:
str1

"I'm learning"

In [17]:
print("Hi",end=" ")
print("Hello",end=" ")
print("Good to see you",end=" ")

Hi Hello Good to see you

In [18]:
print("Hi")
print("Hello")
print("Good to see you")

Hi
Hello
Good to see you

In [19]:
name="Hello"

In [20]:
name[1]

'e'

In [21]:
name[l]

NameError: name 'l' is not defined

In [22]:
name[1]

'e'

In [23]:
name[3]

'l'

In [24]:
name[-1]

'o'

In [25]:
#slicing
#str[start:stop:step]

In [26]:
email="upasana.aggarwal.vit@gmail.com"

In [33]:
domain1=email.index("@")
domain=email[domain1+1:-1]
domain

'gmail.co'

In [34]:
split_domain=domain.split(".")
split_domain[0]

'gmail'

In [38]:
name[-1:len(name)]

'o'

In [39]:
len(name)

5

In [40]:
name[-1:-(len(name))]

''

In [44]:
-(len(name))

-5

In [47]:
name[-1:-(len(name))-1:-1]

'olleH'

In [48]:
name="this world is beautiful"

In [49]:
name[-1:-(len(name))-1:-1]

'lufituaeb si dlrow siht'

In [50]:
email.split("@")[1].split(".")[0]

'gmail'

In [52]:
var="Virat"
score =95

In [53]:
print("{} scored {} runs in the last match".format(var,score))

Virat scored 95 runs in the last match

In [54]:
range(5)

range(0, 5)

In [55]:
for i in range(3):
    print(i)

0
1
2

In [56]:
for i in range(3):
    print("Set {}".format(i+1))

Set 1
Set 2
Set 3

In [62]:
s=0
for i in range(1,51,1):
    s=s+i
print(s)

1275

In [60]:
for i in range(1,51,1):
    if i % 2 == 0:
        print("{} is an even number".format(i))
    else:
        print("{} is an odd number".format(i))

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number
15 is an odd number
16 is an even number
17 is an odd number
18 is an even number
19 is an odd number
20 is an even number
21 is an odd number
22 is an even number
23 is an odd number
24 is an even number
25 is an odd number
26 is an even number
27 is an odd number
28 is an even number
29 is an odd number
30 is an even number
31 is an odd number
32 is an even number
33 is an odd number
34 is an even number
35 is an odd number
36 is an even number
37 is an odd number
38 is an even number
39 is an odd number
40 is an even number
41 is an odd number
42 is an even number
43 is an odd number
44 is an even number
45 is an odd number
46 is an even number
47 is an odd number
48 is an even number
49 is an odd number
50 is an even number

In [64]:
num=5
fact=1
for i in range(num,1,-1):
    fact=fact*i
print(fact)

120

In [68]:
side=5
for i in range(side):
    for j in range(side):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [72]:
length=6
breadth=4
for i in range(breadth):
    for j in range(length):
        print(" * ",end=" ")
    print()

 *   *   *   *   *   *
 *   *   *   *   *   *
 *   *   *   *   *   *
 *   *   *   *   *   *

In [74]:
base=5
height=5
for i in range(0,height,1):
    for j in range(0,i+1,1):
        print(" * ",end=" ")
        
    print()

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

In [78]:
counter=0
height=5
for i in range(0,height,1):
    for j in range(0,i+counter+1,1):
        print(" * ",end=" ")
    counter=counter+1
        
    print()

 *
 *   *   *
 *   *   *   *   *
 *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *

In [84]:
space=0
height=5

for i in range(0,height,1):
    for j in range(1,(height//2 )+space,1):
        print
        print(" * ",end=" ")
    space=space+1
        
    print()

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

In [86]:
length=5
for i in range(0,length):
    for j in range(0,length-i-1):
        print(end=" ")
    for l in range(i+1):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [99]:
for row in range(7):
    for col in range(5):
        if ((col == 0 or col ==4) and row != 0) or ((row ==0 or row==3) and(col>=0 and col<=4)):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [120]:
for row in range(7):
    for col in range(5):
        if ((col == 0 or col ==4) and (row!=0)) or ((row ==0 or row==3 or row==6) and (col>0 or col<4)):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
* * * * *
*       *
*       *
* * * * *

In [121]:
num=[1,50.62,'Hi']

In [122]:
type(num)

list

In [123]:
num[::-1]

['Hi', 50.62, 1]

In [124]:
n1="Hello"

In [125]:
n2=["Hello"]

In [126]:
type(n1)

str

In [127]:
type(n2)

list

In [128]:
n1[1]="i"

TypeError: 'str' object does not support item assignment

In [129]:
n2[0][1]="i"

TypeError: 'str' object does not support item assignment

In [130]:
 num=[1,2,3,"Hi","How", "are", "you",45.65,85.96,25.45]

In [131]:
num.append('Python')

In [132]:
num

[1, 2, 3, 'Hi', 'How', 'are', 'you', 45.65, 85.96, 25.45, 'Python']

In [133]:
num.extend(["Hi","Hello"])

In [134]:
num

[1,
 2,
 3,
 'Hi',
 'How',
 'are',
 'you',
 45.65,
 85.96,
 25.45,
 'Python',
 'Hi',
 'Hello']

In [135]:
num[3]='Robert'

In [136]:
num[3]=num[3].upper()

In [137]:
num

[1,
 2,
 3,
 'ROBERT',
 'How',
 'are',
 'you',
 45.65,
 85.96,
 25.45,
 'Python',
 'Hi',
 'Hello']

In [138]:
marks=[["Ram","Shivam","Rajan"],[45,55,65],[66,77,88],[56,89,99]]

In [147]:
names=marks[0];
len_names=len(names)
ctr=0
#for i in range(len(names)):
for j in range(1,(len(marks))):
    print("{} got {} marks in English".format(names[ctr],marks[j][1]))
    ctr= ctr+1

Ram got 55 marks in English
Shivam got 77 marks in English
Rajan got 89 marks in English

In [22]:
num=[3,1,15,12,15]
for i in range(len(num)-1):
    if (num[i] > num[i+1]):
        num[i],num[i+1]=num[i+1],num[i]
    else:
        next
print(num)

[1, 3, 12, 15, 15]

In [25]:
num2=[10,20,30,10,20,30,40,50]

In [32]:
num2=[10,20,30,10,20,30,40,50]
ispresent=0
temp=[]
ctr=0
num1=int(input("Enter the number to be found"))
print(num1)
for i in range(len(num2)):
    if(num2[i]==num1):
        ispresent=1;
        temp.append(i)
        ctr=ctr+1
    else:
        next
if(ispresent==1):
    print("The entered number is present {} times at indices {} ".format(ctr,temp))
else:
    print("The entered number is not present")
#search for an element(found or not found),number of occurences,indices at which present

Enter the number to be found44
44
The entered number is not present

In [41]:
num=[10,20,30,40,50]
rep=[1,2,3,4,5]
#output=[10,20,20,30,30,30,40,40,40,40,50,50,50,50,50]
result=[]
for i in range(len(num)):
    #temp=[]
    #temp=[num[i]]*rep[i]
    result += [num[i]]*rep[i]
    #result.append([num[i]]*rep[i])
print(result)

[10, 20, 20, 30, 30, 30, 40, 40, 40, 40, 50, 50, 50, 50, 50]

In [56]:
output=[10,20,20,30,30,30,40,40,40,40,50,50,50,50,50]
new_output=[]
for i in range(len(output)):
    if output[i] not in new_output:
        new_output.append(output[i])
print(new_output)

[10, 20, 30, 40, 50]

In [57]:
length=5
for i in range(0,length):
    for j in range(0,length-i-1):
        print(end=" ")
    for l in range(i+1):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [58]:
n=5
for i in range(0,n):
    print(" "*(n-i-1) + "* "*(i+1))

    *
   * *
  * * *
 * * * *
* * * * *

In [59]:
n=5
for i in range(n,0,-1):
    print(" "*(n-i) + " *" * i)

 * * * * *
  * * * *
   * * *
    * *
     *

In [67]:
n=5

for i in range(0,n):
    print(" "*(n-i-1) + "* "*(i+1))
for j in range(n-1,0,-1):
    print(" "*(n-j) + "* " * j)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [72]:
str="python"

for i in range(0,len(str)):
    for j in range(0,i+1):
        print(str[j],end=" ")
    print()

p
p y
p y t
p y t h
p y t h o
p y t h o n

In [78]:
row=4
p=1
for i in range(row):
    for j in range(i+1):
        print(p,end=" ")
        p=p+1
    print()

1
2 3
4 5 6
7 8 9 10

In [4]:
n=5
row=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [6]:
n=5
row=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [7]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [23]:
n=int(input("Enter the number of rows :"))

for row in range(1,n+1):
    for col in range(1,n*2):
        if(row==n or (row+col==n+1) or (col-row==(n-1))):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

Enter the number of rows :9
                *
              *   *
            *       *
          *           *
        *               *
      *                   *
    *                       *
  *                           *
* * * * * * * * * * * * * * * * *

In [26]:
i=1
s=0
while(i<11):
    s+=i
    i+=1
print(s)

55

In [28]:
i=0
while i<11:
    i+=1
    if i%2 == 0:
        print("{} is even".format(i))
    else:
        print("{} is odd".format(i))

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd

In [32]:
n=5
f=1
while(n>=1):
    f= n*f
    n-=1
print(f)

120

In [7]:

while((input("Enter a letter")) !='q'):
    #print("you entered the letter {}".format(x))
    print(k)
    next

SyntaxError: invalid syntax (<ipython-input-7-5da7bac061f4>, line 1)

In [6]:
n=" "
while n.lower() != 'q':
    n= input("enter any character between a-z : ")
    print(n)
print("Thank you for playing")

enter any character between a-z : Q
Q
Thank you for playing

In [8]:
num=list(range(1,11))

In [9]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
for i in num:
    if i==3:
        continue
    else:
        print(i)

1
2
4
5
6
7
8
9
10

In [11]:
for i in num:
    if i==5:
        break
    else:
        print(i)

1
2
3
4

In [12]:
for i in range(10):
    pass

In [13]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [14]:
n=" "
while True:
    n=input("Enter any character between a-z")
    if n.lower() == 'q':
        print("Thank you for playing")
        break
    else:
        print(n)

Enter any character between a-zd
d
Enter any character between a-zh
h
Enter any character between a-zx
x
Enter any character between a-zq
Thank you for playing

In [3]:
ctr=1
n1=int(input("Enter first number:"))
n2=int(input("Enter second number:"))
s=n1+n2
while True:
   
    n3=int(input("Enter the sum of the two numbers:"))
    if(n3 == s):
        print("You took {} attempts to guess the right sum".format(ctr))
        break
    else:
        print("Try again")
        ctr+=1

Enter first number:4
Enter second number:5
9
Enter the sum of the two numbers:2
Try again
Enter the sum of the two numbers:0
Try again
Enter the sum of the two numbers:1
Try again
Enter the sum of the two numbers:6
Try again
Enter the sum of the two numbers:9
You took 5 attempts to guess the right sum

In [4]:
marks={"Ravi":459,"Kishan":350,"Rahul":498}

In [5]:
type(marks)

dict

In [6]:
marks["Ravi"]

459

In [7]:
st="Hello"
a={}

In [8]:
a.fromkeys(st,55)

{'H': 55, 'e': 55, 'l': 55, 'o': 55}

In [45]:
st="Hey how are you"
a={}
vowels=['a','e','i','o','u']
b=a.fromkeys(st,0)
for s in st:
    if(s in vowels):
        b[s]=b[s] +1
    else:
        continue

for d in vowels:
    if(d in b.keys()):
        print("{} is present {} time/s in the string".format(d,b[d]))
    else:
        print("{} vowel is not present in this string".format(d))

a is present 1 time/s in the string
e is present 2 time/s in the string
i vowel is not present in this string
o is present 2 time/s in the string
u is present 1 time/s in the string

In [25]:
s="The world is a beautiful place"
vou="aeiou"
v={}
v=v.fromkeys(vou,0)
ctr=0
for i in s.lower():
    if i in v:
        v[i]+=1
    else:
        ctr+=1
print(v)

{'a': 3, 'e': 3, 'i': 2, 'o': 1, 'u': 2}

In [26]:
#kind of a kbc game

In [27]:
d={"REL":2200,"INFY":1200,"APPO":189,"HUL":2300,"ITC":215}
#how many stocks he will buy and show bill
#brokerage 2%
#tax 0.16 on total bill

In [28]:
menu={"Burger":55,"Pizza":100,"Idli":115,"Sambhar":45}

In [32]:
new_menu={"momos":55,"Pasta":85,"Spring Roll":96,"Burger":65}

In [33]:
menu.update(new_menu)

In [34]:
menu

{'Burger': 65,
 'Pizza': 100,
 'Idli': 115,
 'Sambhar': 45,
 'momos': 55,
 'Pasta': 85,
 'Spring Roll': 96}

In [38]:
st = {"Rel":{"Open":2200,"High":2300,"Close":2100,"Low":2000},
      "ITC":{"Open":220,"High":230,"Close":210,"Low":200},
     "HDFC":{"Open":2300,"High":2700,"Close":2500,"Low":2100},
      "AP":{"Open":188,"High":200,"Close":210,"Low":200}
     }

In [37]:
type(st.keys())

dict_keys

In [39]:
print("The following are the available stocks:")
for s in st.keys():
    print(s)

i=input("Enter the stock you want to buy: ")
if i in st.keys():
    n=int(input("Enter the number of shares you want to buy:"))
    share_bill=n*st[i]["Close"] 
    brokerage= 0.02 * share_bill
    tax= round((0.0016 *share_bill),2)
    total=share_bill + brokerage + tax
    print("Stock cost is {}".format(share_bill))
    print("Brokerage to be paid is {}".format(brokerage))
    print("Tax to be paid is {}".format(tax))
    print("Your total amount to be paid is {}".format(total))
else:
    print("This stock is not for sale")

The following are the available stocks:
Rel
ITC
HDFC
AP
Enter the stock you want to buy: Rel
Enter the number of shares you want to buy:8
Stock cost is 16800
Brokerage to be paid is 336.0
Tax to be paid is 26.88
Your total amount to be paid is 17162.88

In [7]:
#kbc
q1='''
Who is the Father of our Nation?
a.Mahatma Gandhi
b.Jawaharlal Nehru
c.Lal Bahadur Shastri
d.Bhagat Singh
'''
q2='''
Giddha is the folk dance of which state?
a.Gujarat
b.Uttarakhand
c.Punjab
d.Kerela
'''

q3='''
1024 Kilobytes is equal to?
a.10.24gb
b.1MB
c.1kg
d.None of the above
'''

q4='''
India lies in which continent?
a.America
b.Australia
c.Africa
d.Asia
'''

q5='''
What city is the statue of liberty in?
a.NYC
b.Dehradun
c.Mumbai
d.Johanasberg
'''
q6='''
A figure with 8 sides is called?
a.Triangle
b.Pentagon
c.Hexagon
d.Octagon
'''

q7='''
Shape of Egg is?
a.Triangle
b.Circle
c.Oval
d.All of the above
'''

q8='''
How many colours are there in Indias National Flag?
a.3
b.4
c.1
d.8
'''

q9='''
Capital of Uttarakhand is?
a.Almora
b.Gandhinagar
c.Patiala
d.Dehradun
'''

q10='''
Where does a dog live?
a.Stable
b.Kennel
c.Street
d.None of the above
'''

'''
questions={"Who is the Father of our Nation?":"Mahatma Gandhi",
           "Giddha is the folk dance of which state?":"Punjab",
            "1024 Kilobytes is equal to?":"1 MB",
           "India lies in which continent?":"Asia",
           "What city is the statue of liberty in?":"New York City",
           "A figure with 8 sides is called?":"Octagon",
           "Shape of Egg is?":"Oval",
           "How many colours are there in Indias National Flag?":"Three",
           "Capital of Uttarakhand is?":"Dehradun",
           "Where does a dog live?":"Kennel" }   
           
'''

questions={q1:"a",q2:"c",q3:"b",q4:"d",q5:"a",q6:"d",q7:"c",q8:"c",q9:"d",q10:"b"}
score=0
print("Let's play!!")
for ques in questions.keys():
    ans=input("{}".format(ques))
    if ans == questions[ques]:
        score+=1
        print("Your answer is correct. Your score is {}".format(score))
        res=input("Do you wish to continue to play? y/n: ")
        if res == 'y':
            continue
        else:
            print("Sorry to see you go. Your score is {}".format(score))
            break
    else:
        print("Sorry! Wrong answer!! Your score is {}".format(score))
        res=input("Do you wish to continue to play? y/n: ")
        if res == 'y':
            continue
        else:
            print("Sorry to see you go. Your score is {}".format(score))
            break
print("Game over!! Your score is {}".format(score))

Let's play!!

Who is the Father of our Nation?
a.Mahatma Gandhi
b.Jawaharlal Nehru
c.Lal Bahadur Shastri
d.Bhagat Singh
a
Your answer is correct. Your score is 1
Do you wish to continue to play? y/n: y

Giddha is the folk dance of which state?
a.Gujarat
b.Uttarakhand
c.Punjab
d.Kerela
d
Sorry! Wrong answer!! Your score is 1
Do you wish to continue to play? y/n: y

1024 Kilobytes is equal to?
a.10.24gb
b.1MB
c.1kg
d.None of the above
b
Your answer is correct. Your score is 2
Do you wish to continue to play? y/n: y

India lies in which continent?
a.America
b.Australia
c.Africa
d.Asia
d
Your answer is correct. Your score is 3
Do you wish to continue to play? y/n: n
Sorry to see you go. Your score is 3
Game over!! Your score is 3

In [9]:
d1={"n1":10,"n2":20,"n3":30,"n4":40,"n5":50}
s=0
mul=1
for n in d1:
    s+=d1[n]
    mul*=d1[n]
print(s)
print(mul)

150
12000000

In [4]:
#marks,pass/fail,
status={0:"Invalid",40:"Pass",60:"Distinction",100:"Invalid",39:"Fail"}
marks=int(input("Enter the marks:"))

for m in status:
if(marks==m):
    print("Your status is {}".format(status[m]))
        #continue
elif(marks > m):
    print("Your status is {}".format(status[m]))
        #continue
else:
    print("Your status is {}".format(status[m]))
        #continue

Enter the marks:80
Your status is Fail

In [5]:
status={"c1":"Invalid",40:"Pass",60:"Distinction",100:"Invalid",39:"Fail"}

In [6]:
status[0]

'Invalid'

In [9]:
st=input("Enter the statement:")
st_brk=st.split()
occ={}
for word in st_brk:
    if word not in occ.keys():
        occ[word]=1
    else:
        occ[word]+=1
print(occ)

Enter the statement:hey hello hello hey are you there
{'hey': 2, 'hello': 2, 'are': 1, 'you': 1, 'there': 1}

In [14]:
l1=["Upasana","Arhana","Rahul","Arjun"]
l2=[99,100,80,90]
marks={}
for i in range(len(l1)):
    marks[l1[i]]=l2[i]
print(marks)

{'Upasana': 99, 'Arhana': 100, 'Rahul': 80, 'Arjun': 90}

In [50]:
cred={"Upasana":"abc","Rahul":"danger","Arjun":"wonderful"}

NameError: name 'count' is not defined

In [28]:

uname=input("Enter username:")
if uname in cred.keys():
    pwd=input("Enter password:")
    if pwd==cred[uname]:
        print("Login done successfully!!")
    else:
        print("Wrong Password!!")
        res=input("Do you wish to update your password? y/n")
        if res=='y':
            new_pwd=input("Enter new password:")
            cred[uname]=new_pwd
        else:
            print("Login Unsuccessful!!")
else:
    res=input("Invalid Username. Do you wish to signup? y/n")
    if res == 'y':
        new_pwd=input("Enter password:")
        cred[uname]=new_pwd
        print("Signup done successfully!!")
    else:
        print("Login Unsuccessful!!")
print(cred)

Enter username:Upasana
Enter password:jkkks
Wrong Password!!
Do you wish to update your password? y/ny
Enter new password:msgh
{'Upasana': 'msgh', 'Rahul': 'danger', 'Arjun': 'wonderful'}

In [36]:
n=int(input("Enter number: "))
rev=0
while(n>0):
    dig=n%10

    rev=rev*10+dig
    n=n//10

print("The reverse of the number:",rev)

Enter number: 765
5
76
6
7
7
0
The reverse of the number: 567

In [58]:
num=int(input("Enter the number of students"))
details={}
for i in range(num):
    name=input("Enter the name of the student:")
    m_sci=int(input("Enter science marks for {}:".format(name)))
    print(name)
    details[name]={}
    details[name]['Science'] = m_sci
    m_maths=int(input("Enter Maths marks for {}:".format(name)))
    details[name]['Maths']=m_maths
    m_eng=int(input("Enter English marks for {}:".format(name)))
    details[name]['English']=m_eng
    total=m_sci+m_maths+m_eng
    avg=round(total/(len(details[name])),2)
    details[name]['Total'] = total
    details[name]['Avg'] = avg
print(details)

Enter the number of students2
Enter the name of the student:Ravi
Enter science marks for Ravi:89
Ravi
Enter Maths marks for Ravi:98
Enter English marks for Ravi:88
Enter the name of the student:Rahul
Enter science marks for Rahul:90
Rahul
Enter Maths marks for Rahul:99
Enter English marks for Rahul:89
{'Ravi': {'Science': 89, 'Maths': 98, 'English': 88, 'Total': 275, 'Avg': 91.67}, 'Rahul': {'Science': 90, 'Maths': 99, 'English': 89, 'Total': 278, 'Avg': 92.67}}

In [ ]:
num=int(input("Enter the number of stocks:"))
stocks={}
for i in range(num):
    name=input("Enter the name of the stock:")
    stocks[name]={}
    price_open=int(input("Enter open price for {}:".format(name)))
    stocks[name]['open'] = price_open
    price_close=int(input("Enter close price for {}:".format(name)))
    stocks[name]['close'] = price_close
    price_high=int(input("Enter high price for {}:".format(name)))
    stocks[name]['high'] = price_high
    price_low=int(input("Enter low price for {}:".format(name)))
    stocks[name]['low'] = price_low
    
print(stocks)

In [62]:
import random

In [63]:
x=[34,67,89]

In [69]:
[round(((i*1.8)+32),2) for i in x]

[93.2, 152.6, 192.2]

In [70]:
st="hello"
st.startswith

False